@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap');
@font-face {
    font-family: 'Aquire';
    src: url("assets/fonts/Aquire-BW0ox.otf");
    font-weight: normal;
    font-style: normal;
}

:root {
    --primary: #111;
    --secondary: #FFF;
    --accent: #0080FF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    scroll-behavior: smooth;
    font-family: 'Montserrat', sans-serif;
    border: none;
    outline: none;
}

a {
    text-decoration: none;
    color: inherit;
}

body > * > * {
    position: relative; z-index: 2;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 10vh;
    padding: 0 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary);
    z-index: 2;
}
nav img {
    width: 15%;
}
nav ul {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 30% 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    transform: translateX(100vw);
    background-color: var(--secondary);
    color: var(--primary);
    transition: 400ms;
}
nav li {
    width: 100%;
    padding: 5%;
    display: inline-block;
    font-family: 'Aquire';
    font-size: clamp(24pt, 10%, 48pt);
    color: var(--primary);
}
#menu {
    height: 30px;
    aspect-ratio: 1.25;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    z-index: 2;
}
#menu hr, #menu hr::before, #menu hr::after {
    width: 100%;
    height: 5px;
    background-color: var(--secondary);
    border-radius: 10px;
    transition: 400ms;
}
#menu hr::before, #menu hr::after {
    content: '';
    position: absolute;
    left: 0;
}
#menu hr::before {
    top: 0;
}
#menu hr::after {
    bottom: 0;
}
.open ul {
    transform: none;
}
.open #menu hr::before, .open #menu hr::after {
    background-color: var(--primary);
}
.open #menu hr::before {
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
}
.open #menu hr::after {
    bottom: 50%;
    transform: translateY(50%) rotate(-45deg);
}

header, main {
    height: 100vh;
}

header {
    background-color: var(--primary);
}

main {
    background-color: var(--secondary);
}

footer {
    padding: 100px 0;
    background-color: var(--primary);
}

body > img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60%;
    transform: translate(-50%);
    opacity: 0.5;
}


@media screen and (orientation: landscape) {

    nav {
        height: 15vh;
    }
    nav img {
        width: unset;
        height: 80%;
        aspect-ratio: 1;
    }
    nav #menu {
        display: none;
    }
    nav ul {
        position: static;
        width: unset;
        height: unset;
        padding: 0;
        flex-direction: row;
        column-gap: 30px;
        transform: none;
        background-color: transparent;
    }
    nav li {
        width: unset;
        padding: 0;
        font-family: 'Montserrat';
        font-size: 12pt;
        color: var(--secondary);
    }

    body > img {
        top: 25%;
        right: 10%;
        width: 25%;
        transform: rotate(15deg);
    }
}


::-webkit-scrollbar {
    width: 7px;
    background-color: var(--primary);
}
::-webkit-scrollbar-thumb {
    background-color: var(--accent);
    border-radius: 24px;
}