@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap');
@font-face {
    font-family: 'Aquire';
    src: url("assets/fonts/Aquire-BW0ox.otf");
}

:root {
    --primary: #111;
    --secondary: #FFF;
    --accent: #0080FF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    scroll-behavior: smooth;
    font-family: 'Montserrat', sans-serif;
    border: none;
    outline: none;
    list-style: none;
}
*::selection {
    background-color: var(--accent);
    color: var(--primary);
}

a {
    display: block;
    color: inherit;
    text-decoration: none;
}

h1 {
    font-family: 'Aquire', sans-serif;
    color: var(--secondary);
}

body > * > * {
    position: relative; z-index: 2;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 10vh;
    padding: 0 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary);
    z-index: 3;
}
nav img {
    width: 15%;
}
nav ul {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 30% 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    transform: translateX(100vw);
    background-color: var(--secondary);
    color: var(--primary);
    transition: 400ms;
}
nav li {
    width: 100%;
    padding: 5%;
    display: inline-block;
    font-family: 'Aquire', sans-serif;
    font-size: clamp(24pt, 10%, 48pt);
    color: var(--primary);
}
#menu {
    height: 30px;
    aspect-ratio: 1.25;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}
#menu hr, #menu hr::before, #menu hr::after {
    width: 100%;
    height: 5px;
    background-color: var(--secondary);
    border-radius: 10px;
    transition: 400ms;
}
#menu hr::before, #menu hr::after {
    content: '';
    position: absolute;
    left: 0;
}
#menu hr::before {
    top: 0;
}
#menu hr::after {
    bottom: 0;
}
.open ul {
    transform: none;
}
.open #menu hr::before, .open #menu hr::after {
    background-color: var(--primary);
}
.open #menu hr::before {
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
}
.open #menu hr::after {
    bottom: 50%;
    transform: translateY(50%) rotate(-45deg);
}

header, main {
    height: 100vh;
}

header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary);
}
header ul {
    position: absolute;
    width: 100vw;
    height: 100vh;
    overflow-y: hidden;
}
header li {
    position: absolute;
    bottom: -25%;
    width: 10%;
    aspect-ratio: 1;
    background-image: linear-gradient(#FFF5, #FFF1);
    animation: float 7s infinite linear;
    opacity: 0.5;
}
header li:nth-child(1) {
    left: 5%;
    animation-delay: 1s;
}
header li:nth-child(2) {
    left: 20%;
    animation-delay: 4s;
}
header li:nth-child(3) {
    left: 35%;
    animation-delay: 2s;
}
header li:nth-child(4) {
    left: 55%;
}
header li:nth-child(5) {
    left: 65%;
    animation-delay: 5s;
}
header li:nth-child(6) {
    left: 75%;
    animation-delay: 3s;
}
header li:nth-child(7) {
    left: 85%;
    animation-delay: 6s;
}
header > div {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    row-gap: 40px;
}
header h1 {
    font-size: clamp(24pt, 10vw, 60pt);
}
header span {
    color: var(--secondary);
    font-size: clamp(10pt, 3vw, 30pt);
}
header button {
    width: 40%;
    padding: 7px;
    background-color: var(--accent);
    color: var(--secondary);
    border-radius: 24px;
    font-size: clamp(10pt, 3vw, 30pt);
    font-weight: 600;
    cursor: pointer;
}

main {
    background-color: var(--secondary);
}

footer {
    padding: 100px 0;
    background-color: var(--primary);
}

body > img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60%;
    transform: translate(-50%);
    opacity: 0.25;
}


@media screen and (orientation: landscape) {

    nav {
        height: 15vh;
    }
    nav img {
        width: unset;
        height: 80%;
        aspect-ratio: 1;
    }
    nav #menu {
        display: none;
    }
    nav ul {
        position: static;
        width: unset;
        height: unset;
        padding: 0;
        flex-direction: row;
        column-gap: 30px;
        transform: none;
        background-color: transparent;
    }
    nav li {
        width: unset;
        padding: 0;
        font-family: 'Montserrat';
        font-size: 12pt;
        color: var(--secondary);
    }

    header > div {
        row-gap: 25px;
    }
    header h1 {
        font-size: clamp(24pt, 6vw, 50pt);
    }
    header span {
        color: var(--secondary);
        font-size: clamp(6pt, 1.5vw, 20pt);
    }
    header button {
        width: 20%;
        font-size: clamp(6pt, 1.5vw, 20pt);
    }

    body > img {
        top: 25%;
        right: 10%;
        width: 25%;
        transform: rotate(15deg);
    }
}


::-webkit-scrollbar {
    width: 7px;
    background-color: var(--primary);
}
::-webkit-scrollbar-thumb {
    background-color: var(--accent);
    border-radius: 24px;
}

@keyframes float {
    to {
        bottom: 100%;
        transform: rotate(360deg) scale(0.1);
        opacity: 0.1;
        border-radius: 50%;
    }
}