@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap');
@font-face {
    font-family: 'Aquire';
    src: url('assets/fonts/AquireLight.otf');
}

:root {
    --primary: #111;
    --secondary: #FFF;
    --accent: #0080FF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Montserrat', sans-serif;
    border: none;
    outline: none;
    list-style: none;
}
*::selection {
    background-color: var(--accent);
    color: var(--primary);
}

html {
    overflow-x: hidden;
}

a {
    height: 100%;
    width: 100%;
    display: block;
    color: inherit;
    text-decoration: none;
    font-family: inherit;
}

.font-aquire {
    font-family: 'Aquire', sans-serif;
}

h1 {
    color: var(--secondary);
    font-size: clamp(24pt, 10vw, 60pt);
    font-weight: 500;
}

body > * > * {
    position: relative; z-index: 2;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 10vh;
    padding: 0 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary);
    z-index: 3;
}
nav img {
    width: 15%;
}
nav ul {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 30% 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    transform: translateX(100vw);
    background-color: var(--secondary);
    color: var(--primary);
    transition: 400ms;
}
nav li {
    width: 100%;
    padding: 10%;
    display: inline-block;
    font-size: clamp(24pt, 10%, 48pt);
    font-weight: 600; 
    color: var(--primary);
}
nav a:hover, nav a:focus, nav a:active {
    color: var(--accent);
    transition: 400ms;
}
#menu {
    height: 30px;
    aspect-ratio: 1.25;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}
#menu hr, #menu hr::before, #menu hr::after {
    width: 100%;
    height: 5px;
    background-color: var(--secondary);
    border-radius: 10px;
    transition: 400ms;
}
#menu hr::before, #menu hr::after {
    content: '';
    position: absolute;
    left: 0;
}
#menu hr::before {
    top: 0;
}
#menu hr::after {
    bottom: 0;
}
.open ul {
    transform: none;
}
.open #menu hr::before, .open #menu hr::after {
    background-color: var(--primary);
}
.open #menu hr::before {
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
}
.open #menu hr::after {
    bottom: 50%;
    transform: translateY(50%) rotate(-45deg);
}

header {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary);
}
header ul {
    position: absolute;
    width: 100vw;
    height: 100vh;
    overflow-y: hidden;
}
header li {
    position: absolute;
    bottom: -25%;
    width: 10%;
    aspect-ratio: 1;
    background-image: linear-gradient(#FFF5, #FFF1);
    animation: float 7s infinite linear;
    opacity: 0.5;
}
header li:nth-child(1) {
    left: 5%;
    animation-delay: 1s;
}
header li:nth-child(2) {
    left: 20%;
    animation-delay: 4s;
}
header li:nth-child(3) {
    left: 35%;
    animation-delay: 2s;
}
header li:nth-child(4) {
    left: 55%;
}
header li:nth-child(5) {
    left: 65%;
    animation-delay: 5s;
}
header li:nth-child(6) {
    left: 75%;
    animation-delay: 3s;
}
header li:nth-child(7) {
    left: 85%;
    animation-delay: 6s;
}
header > div {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    row-gap: 40px;
}
header span {
    color: var(--secondary);
    font-size: clamp(10pt, 3vw, 30pt);
}
header button {
    width: 40%;
    padding: 7px;
    background-color: var(--accent);
    color: var(--secondary);
    border: 1px solid var(--accent);
    border-radius: 24px;
    font-size: clamp(7pt, 2.5vw, 24pt);
    font-weight: 600;
    cursor: pointer;
    transition: 400ms;
}
header button:hover, header button:focus, header button:active {
    background-color: var(--primary);
    color: var(--accent);
}

main {
    padding: 0 5%;
    background-color: var(--secondary);
    z-index: 0;
}

#services {
    min-height: 100vh;
    padding: 15vh 0 10vh 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: min(75px, 5vh);
    z-index: 0;
}
#services h2 {
    width: 100%;
    color: var(--accent);
    font-size: min(8vw, 32pt);
    text-align: left;
}
#services > div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    row-gap: min(50px, 3vh);
}
#services article {
    width: 100%;
    max-width: 320px;
    padding: 5%;
    display: flex;
    background-color: var(--secondary);
    box-sizing: content-box;
    box-shadow: 0 5px 10px 3px #0003;
}
#services h3 {
    margin-bottom: 10px;
    color: var(--primary);
}
#services article img {
    width: 100%;
    min-width: 125px;
    margin-left: 5px;
}

footer {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    padding: 100px 5%;
    background-color: var(--primary);
    color: var(--secondary);
}
footer img {
    width: 50%;
}
footer > section {
    display: flex;
    flex-direction: column;
    row-gap: min(100px, 5vh);
}
footer span {
    color: #AAA;
    font-size: min(5vw, 20pt);
}
footer ul {
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-self: center;
}
footer li {
    aspect-ratio: 1;
    border-radius: 50%;
    transition: 400ms;
}
footer li:hover, footer li:focus, footer li:active {
    background-color: var(--primary);
    box-shadow: 0 0 10px 3px var(--accent);
}
footer li i {
    padding: 15px;
    display: block;
    font-size: min(6vw, 24pt);
}

body > img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60%;
    transform: translate(-50%);
    opacity: 0.25;
}

body > div {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 5vh;
    background-color: var(--primary);
    color: var(--accent);
    font-size: 7vw;
    letter-spacing: 10px;
    z-index: 4;
}
body > div svg {
    width: 10vw;
    height: auto;
    animation: bounce 1s cubic-bezier(0.3, 0.8, 0.4, 0.6) infinite alternate;
}

@media screen and (orientation: landscape) {

    nav {
        height: 15vh;
    }
    nav img {
        width: unset;
        height: 80%;
        aspect-ratio: 1;
    }
    nav #menu {
        display: none;
    }
    nav ul {
        position: static;
        width: unset;
        height: 100%;
        padding: 0;
        flex-direction: row;
        column-gap: 30px;
        transform: none;
        background-color: transparent;
    }
    nav li {
        width: unset;
        padding: 10% 0;
        font-family: 'Montserrat', sans-serif;
        font-size: 12pt;
        color: var(--secondary);
    }

    header > div {
        row-gap: 25px;
    }
    h1 {
        font-size: clamp(24pt, 6vw, 50pt);
    }
    header span {
        color: var(--secondary);
        font-size: clamp(6pt, 1.5vw, 20pt);
    }
    header button {
        width: 20%;
        font-size: clamp(6pt, 1.5vw, 20pt);
    }

    #services {
        padding-top: 20vh;
        row-gap: 25px;
    }
    #services > div {
        gap: max(25px, 3vh);
    }
    #services h2 {
        font-size: min(5vw, 40pt);
    }
    #services article {
        width: 25%;
        min-width: 300px;
        padding: 3%;
    }
    
    footer {
        flex-direction: row;
        column-gap: 75px;
    }
    footer img {
        width: 25%;
        max-width: 400px;
    }
    footer > section {
        flex-direction: column;
        justify-content: center;
        row-gap: min(100px, 5vh);
    }
    footer span {
        font-size: min(5vh, 20pt);
    }
    footer ul {
        justify-content: flex-start;
        align-content: flex-start;
        column-gap: 3vw;
    }
    footer li a {
        font-size: min(6vh, 24pt);
    }



    body > img {
        top: 25%;
        right: 10%;
        width: 25%;
        transform: rotate(15deg);
    }

    body > div {
        row-gap: 10vh;
        font-size: 7vh;
    }
    body > div svg {
        width: 3vw;
        height: auto;
        animation: bounce 1s cubic-bezier(0.3, 0.8, 0.4, 0.6) infinite alternate;
    }
}


html::-webkit-scrollbar {
    width: 7px;
    background-color: var(--primary);
}
html::-webkit-scrollbar-thumb {
    background-color: var(--accent);
    border-radius: 24px;
}

@keyframes float {
    to {
        bottom: 100%;
        transform: rotate(360deg) scale(0.1);
        opacity: 0.1;
        border-radius: 50%;
    }
}
@keyframes bounce {
    to {
        transform: translateY(30px);
    }
}